# Resource locations to be added to the default path
[General]
FileSystem=./assets
#Zip=./assets/Sinbad.zip

#UI
[Imagesets]
FileSystem=./assets/UI/imagesets
[Fonts]
FileSystem=./assets/UI/fonts
[Schemes]
FileSystem=./assets/UI/schemes
[LookNFeel]
FileSystem=./assets/UI/looknfeel
[Layouts]
FileSystem=./assets/UI/layouts